ConsoleApplication/x64
ConsoleApplication/.vs
ConsoleApplication/ConsoleApplication.ilk
ConsoleApplication/ConsoleApplication.obj
*.pdb
*.pdb
*.vcxproj
*.filters
*.user
*.sln
ConsoleApplication/bin
*.obj
*.ilk
*.exe
