ConsoleApplication.code-workspace
CMakeCache.txt
/ConsoleApplication.dir
/.cmake
/.vs
/.vscode
/CMakeFiles
/Debug
/JuceLibraryCode
/MinSizeRel
/Release
/RelWithDebInfo
/Testing
/x64
/x86
/out
**/Config.h
*/.DS_Store
*.proj**
*.vcxproj**
*.cmake
*.dir
*.editorconfig

*.tcl
