CMakeProject1.code-workspace
CMakeCache.txt
/.cmake
/.vs
/.vscode
/CMakeFiles
/Debug
/MinSizeRel
/Release
/RelWithDebInfo
/Testing
/x64
/x86
/out
**/Config.h
*/.DS_Store
*.proj**
*.vcxproj**
*.cmake
*.dir
*.editorconfig
*.sln
*.tcl
